<table class="table table-user">
  <h2>会員詳細</h2>
  <tr>
     <% if @customer.profile_image.attached? %>
      <%= image_tag @customer.profile_image, size: "80x80" %>
     <% else %>
      <%= image_tag 'no_image.jpg', size: "80x80" %>
     <% end %>
    </tr>
  <tr>
      <th>名前</th>
      <th><%= @customer %></th>
  </tr>
  <tr>
      <th>紹介文</th>
      <th><%= @customer %></th>
  </tr>
  </table>
  <%= link_to edit_customer_path(@customer), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  