<h2>アニメ投稿一覧</h2>
<div class="col-md-8 offset-md-1">
<table class="table anime-index">
 <thead>
  <th>ユーザー</th>
  <th>タイトル</th>
  <th>感想</th>
  <th></th>
 </thead>
 <tbody>
  <% @animes.each do |anime| %>
   <tr>
    <td>
     <%= link_to customers_my_page_path(anime.customer) do %>
     <% if @customer.profile_image.attached? %>
      <%= image_tag @customer.profile_image, size: "80x80" %>
     <% else %>
      <%= image_tag 'no_image.jpg', size: "80x80" %>
     <% end %>
  <% end %>
    </td>
    <td><%= link_to anime.title, anime_path(anime.id) %></td>
    <td><%= anime.body %></td>
    <td>コメント件数：<%= @anime.anime_comments.count %></td>
  </tr>
 <% end %>
 </tbody>
</table>







