      <h2>アニメ投稿詳細</h2>
      <table class="table table-customer-show">
       <thead>
        <th>投稿画像</th>
        <th>タイトル</th>
        <th>感想</th>
       </thead>
       <tbody>
        <tr>
          <td><%= @anime.image %></td>
          <td><%= @anime.title %></td>
          <td><%= @anime.body %></td>
          <td></td>
          <% if @anime.customer == current_customer %>
            <td><%= link_to "Edit", edit_anime_path(@anime), class:"btn btn-sm btn-success"%></td>
            <td><%= link_to "Destroy", anime_path(@anime), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
       </tbody>
      </table>
      <div class="anime_comments/index">
      <%= render "public/anime_comments/index", anime: @anime, anime_comment: @anime_comment %>
      </div>
      <%= render "public/anime_comments/form", anime: @anime, anime_comment: @anime_comment %>
    </div>
    </div>
  </div>
  
  

