<table>
  <tbody>
      <% anime.anime_comments.each do |anime_comment| %>
      <tr>
        
        <td>
          <%= link_to customer_path(anime_comment.customer) do %>
            <%= image_tag anime_comment.customer.get_profile_image, size: "80x80" %><br>
            <%= anime_comment.customer.name %>
          <% end %>
        </td>
        <td><%= anime_comment.comment %></td>
        <td>
          <% if anime_comment.customer == current_customer %>
            <%= link_to "Destroy", anime_anime_comment_path(anime, anime_comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>


 