<!DOCTYPE html>
<html>
 <head>
  <title>Animen</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="header">
 <header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
    <%= link_to root_path("homes#top") do %>
     <%= image_tag 'wolf-rogo.jpg', size: '100x100', class: "img-fluid" %>
    <% end %>
　<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="nav navbar-nav navbar-right">
    <% if not request.fullpath.include? "admin" %>

    <% if customer_signed_in? %>
     <li class="nav-item">
      <%= link_to '新規投稿', new_anime_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to '投稿一覧', animes_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to 'ユーザーリスト', customers_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to "グループ一覧", groups_path, class: 'nav-link text-light' %>
     </li>

     <li class="nav-item">
      <%= link_to 'マイページ', customers_my_page_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-light' %>
     </li>

    <% else %>
     <li class="nav-item">
      <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-light' %>
     </li>
    <% end %>

    <% else %>
    <% if admin_signed_in? %>
     <li class="nav-item">
      <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-light' %>
     </li>
     <li class="nav-item">
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
     </li>
    <% end %>

    <% end %>

    </ul>
   </div>
  </div>
  </nav>
 </header>
 <%= yield %>
 </body>
</html>







